@import "tailwindcss";

@layer base {

    /* Custom dark scrollbar styling */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #1a1a20;
        /* zinc-950 - matching background */
        border-left: 1px solid #18181b;
        /* zinc-900 subtle border */
    }

    ::-webkit-scrollbar-thumb {
        background: #27272a;
        /* zinc-800 */
        border-radius: 10px;
        border: 2px solid #09090b;
        /* Adds padding effect around thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #3f3f46;
        /* zinc-700 */
    }
}


.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}